@model TiempoGastado.Models.HomeModel

@{
    ViewData["Title"] = "Home Page";
}
@using (Html.BeginForm("Obtener", "Home", FormMethod.Post))
{

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

        User CODE:  @Html.TextBoxFor(homemodel => homemodel.user)
        Project CODE: @Html.TextBoxFor(homemodel => homemodel.project)
        Initial Date: @Html.TextBoxFor(homemodel => homemodel.initDate)
        End Date: @Html.TextBoxFor(homemodel => homemodel.endDate)

        <input type="submit" value="Obtener" />
    </div>
}