.custom-select {
    padding: 3px;
    margin: 20px;
}
.issue-si3 {
    margin-left: 10px;
}
.text {
    margin: 3px;
}
.agenda-events-label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width:400px;
}

.agenda-events-id {
    height: 40px;
    min-width: 200px;
}
.agenda-events-title {
    height: 40px;
    width:100%
}
.agenda-events-hours {
    height: 40px;
}
.invalid {
    border-color: red;
    width: 100px;
    font-weight:normal;
}
.valid {
    width: 100px;
    font-weight: normal;
}
