.custom-select {
    padding: 3px;
    margin: 20px;
}
.issue-si3 {
    margin-left: 10px;
}
.text {
    margin: 3px;
}
.agenda-events-label {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.agenda-events-id {
    height: 40px;
}
.agenda-events-title {
    height: 40px;
}
.agenda-events-hours {
    height: 40px;
}
.invalid {
    border-color: red;
    width: 100px;
    font-weight:normal;
}
.valid {
    width: 100px;
    font-weight: normal;
}
