.custom-select {
    padding: 3px;
    margin: 20px;
}
.issue-si3 {
    margin-left: 10px;
}
.text {
    margin: 3px;
}
.agenda-events-label {
   width:700px; 
   height:40px;
   margin-bottom: 0px;
}
.agenda-events-tipo {
    height: 40px;
}
.agenda-events-td-id {
}
.agenda-events-id {
    height: 40px;
}
.agenda-events-title {
    //overflow: hidden;
    //text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}
.label-type {
    margin-left: 5px;
}
.agenda-events-hours {
    height: 40px;
}


