.bodyLogin {
    width: 700px;
    margin: auto;
    background-color: transparent;
}

.img {    
    position: center;
    margin-bottom: 20px;
    margin-right: 70px;
}
.form1 {
    text-align: left;
    border-right: 1px solid black;
}
.form2 {
    margin-left: 50px;
    text-align: left;
}
.formulario {
    display: flex;
    border: 1px solid black;
    border-radius: 6px;
    padding: 45px 45px 20px;
    margin-top: 50px;
    background-color: white;
    text-align:end;
}

    .formulario label {
        border-top: 1px solid black;
        padding-top: 30px;
        margin-top: 10px;
        width: 200px;
    }

    .formulario div {
        margin-bottom: 15px;
    }

    .formulario input[type='text'], .formulario input[type ='password'], .formulario select {
        padding: 7px 6px;
        width: 294px;
        border: 1px solid black;
        resize: none;
        margin: 5px 0;
        
    }
    .formulario input[type='text']:focus, .formulario input[type ='password']:focus {
            outline: none;
    }


    
