.bodyLogin {
    width: 400px;
    margin: auto;
    background-color: #E2ECEE;
}

.img {
    margin:auto;
    position:center;
    margin-left:70px;
    margin-bottom:10px;
}
.formulario {
    border: 1px solid #32CD32;
    border-radius: 6px;
    padding: 45px 45px 20px;
    margin-top: 50px;
    background-color: white;
    box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF inset;
}

    .formulario label {
        display: block;
        font-weight: bold;
    }

    .formulario div {
        margin-bottom: 15px;
    }

    .formulario input[type='text'], .formulario input[type ='password'], .formulario select {
        padding: 7px 6px;
        width: 294px;
        border: 1px solid #32CD32;
        resize: none;
        box-shadow: 0 0 0 3px #EEF;
        margin: 5px 0;
    }
    .formulario input[type='text']:focus, .formulario input[type ='password']:focus {
            outline: none;
            box-shadow: 0 0 0 3px rgb(206, 213, 215);
    }


    
