
.form-control {
    margin-bottom: 5px;
    width: 300px;   
    margin-right:5px;
}

.dataForm{
    width:600px;
    margin-bottom: 10px;
}
.ptext {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.15em;
}
.custom-select {
    margin: 6px;
}
